<div class="row">
    <div class=" col-md-offset-0.5 col-md-6">
        <h2>Mina uppgifter</h2>

        <form name="userForm" class="form-group row" novalidate>

            <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$invalid && userForm.firstName.$touched }">
                <label class="control-label" for="firstName">Förnamn</label>
                <input class="form-control" type="text" id="firstName" name="firstName" ng-model="user.firstName" required>
                <div ng-messages='userForm.firstName.$error' ng-if='userForm.firstName.$invalid && userForm.firstName.$touched '>
                    <div class="text-danger" ng-message='required'>Fyll i förnamn!</div>
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$invalid && userForm.lastName.$touched }">
                <label class="control-label" for="lastName">Efternamn</label>
                <input class="form-control" type="text" id="lastName" name="lastName" ng-model="user.lastName" required>
                <div ng-messages='userForm.lastName.$error' ng-if='userForm.lastName.$invalid && userForm.lastName.$touched '>
                    <div class="text-danger" ng-message='required'>Fyll i efternamn!</div>
                </div>

            </div>


            <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid && userForm.email.$touched }">
                <label class="control-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" ng-model="user.email" required>
                <div ng-messages='userForm.email.$error' ng-if='userForm.email.$invalid && userForm.email.$touched '>
                    <div class="text-danger" ng-message='required'>Fyll i en giltig email!</div>
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.phone.$invalid && userForm.phone.$touched }">
                <label class="control-label" for="phone">Telefon</label>
                <input class="form-control" type="text" id="phone" name="phone" ng-model="user.phone" required>
                 <div ng-messages='userForm.phone.$error' ng-if='userForm.phone.$invalid && userForm.phone.$touched'>
                    <div class="text-danger" ng-message='required'>Fyll i telefon!</div>
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.address.$invalid && userForm.address.$touched }">
                <label class="control-label" for="address">Adress</label>
                <input class="form-control" type="text" id="address" name="address" ng-model="user.address" required>
                <div ng-messages='userForm.address.$error' ng-if='userForm.address.$invalid && userForm.address.$touched'>
                    <div class="text-danger" ng-message='required'>Fyll i adress!</div>
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.postalCode.$invalid && userForm.postalCode.$touched }">
                <label class="control-label" for="postalCode">Postnummer</label>
                <input class="form-control" type="text" id="postalCode" name="postalCode" ng-model="user.postalCode" required>
                <div ng-messages='userForm.postalCode.$error' ng-if='userForm.postalCode.$invalid && userForm.postalCode.$touched'>
                    <div class="text-danger" ng-message='required'>Fyll i postnummer!</div>
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.city.$invalid && userForm.city.$touched }">
                <label class="control-label" for="city">Stad</label>
                <input class="form-control" type="text" id="city" name="city" ng-model="user.city" required>
                <div ng-messages='userForm.city.$error' ng-if='userForm.city.$invalid && userForm.city.$touched'>
                    <div class="text-danger" ng-message='required'>Fyll i stad!</div>
                </div>

            </div>


            <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-primary" ng-click="updateRequest(userForm)">Spara</button>
            <a class="btn btn-primary" href="/">Avbryt</a>
            <p class="text-danger">{{ text }} </p>

        </form>
    </div>
</div>