<div class="row">
    <div class="col-md-6">
<h2>Skapa konto</h2>

        <form name="userForm" class="form-group row" novalidate>

            <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$invalid && userForm.firstName.$touched }">
                <label class="control-label" for="firstName">Förnamn</label>
                <input class="form-control" type="text" id="firstName" name="firstName"  ng-model="user.firstName" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$invalid && userForm.lastName.$touched }">
                <label class="control-label" for="lastName">Efternamn</label>
                <input class="form-control" type="text" id="lastName" name="lastName" ng-model="user.lastName" required>

            </div>

           <div class="form-group" ng-class="{ 'has-error': userForm.phone.$invalid && userForm.phone.$touched }">
                <label class="control-label" for="phone">Telefon</label>
                <input class="form-control" type="text" id="phone" name="phone" ng-model="user.phone" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.address.$invalid && userForm.address.$touched }">
                <label class="control-label" for="address">Adress</label>
                <input class="form-control" type="text" id="address" name="address" ng-model="user.address" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.postalCode.$invalid && userForm.postalCode.$touched }">
                <label class="control-label" for="postalCode">Postnummer</label>
                <input class="form-control" type="text" id="postalCode" name="postalCode" ng-model="user.postalCode" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userForm.city.$invalid && userForm.city.$touched }">
                <label class="control-label" for="city">Stad</label>
                <input class="form-control" type="text" id="city" name="city" ng-model="user.city" required>

            </div>

             <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid && userForm.email.$touched }">
                <label class="control-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" ng-model="user.email" required>

            </div>


              <div class="form-group" ng-class="{ 'has-error': userForm.password.$invalid && userForm.password.$touched }">
                <label class="control-label" for="password">Lösenord</label>
                <input class="form-control" type="password" id="password" name="password" ng-model="user.password" required>

            </div>
            

            <div class="form-group">
                <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-primary" ng-click="createUser(userForm)">Skapa</button>
                <a class="btn btn-primary" href="/">Avbryt</a>

            </div>
            <p class="text-danger">{{ text }} </p>
        </form>
    </div>
</div>